<!DOCTYPE html>
<html>
<head>
  <title>AircraftQueuer</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  <% if current_user %>
  <div class="container">
      <div class="navbar-right">
       <p>Current user: <%= current_user.email %>
       <%= button_to " Sign Out", destroy_user_session_path, method: :delete %></p>
    </div>
  </div>
  <div class="container">
    <% flash.each do |flash_type, message| %>
      <div class="alert alert-<%= translate_to_bootstrap flash_type %>">
        <%= message %>
      </div>
    <% end %>
  </div>

  <% end %>

  <%= yield %>

  </div>

</body>
</html>
